{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1><span>Clientes</span></h1>
                            <form action="/buscar/" method="GET">
                                <input type="text" name="cli">
                                <input type="submit" value="buscar">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                <li class="breadcrumb-item active">Home</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <!-- /# column -->
                    <!--
                    <div class="col-md-4"> -->
                        <div class="card">
                            <div class="card-title">
                                <h4>ESTADO DE CLIENTES</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% if cliente %}
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <!-- <th>#</th> -->
                                                    <th scope="col"  class="action-checkbox-column">
                                                        <span><input type="checkbox" id="action-toggle" /></span>
                                                    </th>
                                                    <th>Referencia</th>
                                                    <th>Nombre</th>
                                                    <th>Dirección</th>
                                                    <th>Contrato Odoo</th>
                                                    <th>Conexión 815</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for clie in cliente %}
                                                    <tr>
                                                        <td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="18153" /></td>
                                                        {% for elemento in clie %}
                                                            <td>{{elemento}}</td>           
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <p>No hay clientes para su busqueda</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                <!--    </div> -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>2018 © Admin Board. - <a href="#">example.com</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<!--
</body>
</html>
-->
{% endblock %}